footer
  display: block
  .socials
    background: #373737
    text-align: center
    a
      margin: 0.5em
      display: inline-block
  .info
    background: #020202
    overflow: hidden
    font-size: 0.4125em
    .container
      margin-top: 1em
    .logo
      display: inline-block
      overflow: hidden
      text-indent: -500px
      width: 91px
      height: 29px
      background: url(../logo-dark.png)
      vertical-align: middle
    .copy
      display: inline-block
      vertical-align: middle
      float: right
      margin-top: 0.5em
