header.head
  display: block
  +size($smallScreen)
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 10000
  h1.logo
    margin: 0.25em auto 1em
    width: 255px
    max-width: 99%
    a
      display: block
      height: 0
      padding-bottom: 16%
      background: url(/monsun-logo-h.png) no-repeat center
      background-size: contain
      overflow: hidden
      text-indent: -1000px
  +size($smallScreen)
    h1.logo
      float: left
      margin: 0
      a
        height: 55px
        padding-bottom: 0
    .menu
      float: right
