header.head
  display: block
  h1.logo
    margin: 0 auto
    width: 218px
    a
      display: block
      background: url(/monsun-logo.png) no-repeat center
      height: 74px
      overflow: hidden
      text-indent: -1000px
