header.head
  background: white
  display: block
  margin: 0
  overflow: hidden
  text-align: center
  .container
    position: relative
    margin: 0.35em auto 0
  +size($smallScreen)
    text-align: left
    .container
      margin: 0.35em auto
  h1.logo
    display: inline-block
    margin: 0
    position: relative
    top: 5px
    a
      width: 22px
      height: 35px
      display: block
      background: url(../logo.png)
      overflow: hidden
      text-indent: -500px
