.menu
  nav
    ul
      font-family: bebas-neue-web, sans-serif
      font-weight: bold
      font-size: 1.4615em
      text-transform: uppercase
      list-style: none
      margin: 0
      padding: 0
      text-align: center
      li
        display: inline-block
        margin: 2em 3em 0
        a
          color: black
          &:hover
            color: lighten(black, 50%)
