.menu
  nav
    ul
      font-family: bebas-neue-web, sans-serif
      font-weight: bold
      font-size: (19/$em)
      text-transform: uppercase
      list-style: none
      margin: 0 auto 1.5em
      +size($smallScreen)
        margin: 0
      padding: 0
      text-align: center
      li
        display: block
        margin: 0.5em 1em 0
        +size($smallScreen)
          display: inline-block
          margin: 1.5em 0 0 3em
        a
          color: $grayLight
          &:hover
            color: darken($grayLight, 20%)
        &.active
          a
            color: $gray
