.section-title
  max-width: 475px
  margin: 0 auto
  h2
    font-family: 'bebas-neue-web'
    font-size: (21/$em)
    line-height: 1.25
    color: #ccc
  &::after
    content: ''
    width: 50px
    height: 1px
    background: #636363
    display: block
    margin: 3em auto 4em
