body
  font-family: 'Dosis', sans-serif
  font-size: 32px
  line-height: 1.4
  color: $grayLight

h1, h2, h3
  font-weight: normal
  text-align: center

a
  color: $grayLight
  text-decoration: none
  &:hover
    color: $yellow
