.solutions
  .solution
    .image
      position: relative
      .button
        font-size: 0.7em
        padding: 0.5em 0.75em
      .icon-cancel
        color: red
        position: absolute
        right: 0
        top: 0
        color: $red
        cursor: pointer
        font-size: 20px
        &:hover
          color: lighten($red, 20%)
