.sidebar
  .group
    margin-bottom: 75px
  h4
    background: $yellow
    color: white
    padding: 0.25em 0.5em

  form.group
    position: relative
    input[type="search"]
      height: 46px
      width: 100%
      box-sizing: border-box
      border: solid 2px $yellow
    input[type="submit"]
      position: absolute
      right: 0px
      top: 0
      background: $yellow url(../search.png) center
      border: none
      text-indent: -100px
      height: 46px
      width: 46px
      padding-right: 46px

  ul.featured-posts
    list-style: none
    font-size: 18px
    padding: 0
    li
      overflow: hidden
      margin: 10px 0
      padding-bottom: 10px
      border-bottom: solid #E3E2E2 1px
      .image
        width: 120px
        height: 120px
        background-color: whitesmoke
        background-size: cover;
        background-position: center;
        float: left
        margin-right: 8px
      p
        margin-bottom: 0

  ul.tags
    list-style: none
    line-height: 20px
    padding: 0
    font-size: 0
    li
      display: inline-block
      margin: 0
      padding: 2px 1px
      font-size: 18px
      margin: 0
      a
        background: #646D77
        color: white
        font-size: 18px
        border-radius: 4px
        padding: 0.1em 0.25em
        margin: 0
        line-height: 0
        &:hover
          background: lighten(#646D77, 20%)
