.contact
  .content
    background: white
    overflow: hidden
    padding-top: 2em
  +size($smallScreen)
    cf()
    .links
      col(1/3, gutter: 10)
      margin-top: 5em
    .form
      col(2/3, gutter: 10)
