.contact
  .form
    .places
      cf()
      margin-bottom: 1em
      .place
        col(1/2, gutter: 10)
        .title, .address, .phone
          margin-bottom: 0.75rem
        .title
          color: $yellow
          font-weight: bold
        .address
          font-size: 0.7em
        .phone
          font-size: 0.7em
          font-weight: bold
    .info
      background: $yellow
      color: white
      margin-bottom: 1em
      padding: 0.5em
    form
      font-size: 0.7em
      margin-bottom: 2em
      input, textarea
        display: block
        width: 100%
        font-size: 1em
        padding: 0.2em
        margin: 0.3em 0
        border: solid 1px silver
        box-sizing: border-box
      .sender
        cf()
        .name, .email
          col(1/2, gutter: 10)
      .message
        margin-top: 1.5em
        margin-bottom: 2em
      .submit
        cf()
        .button
          background: transparent
          border: solid 1px $yellow
          color: $gray
          float: right
          width: auto
          padding: 0.4em 2em
