.admin
  form.login-form
    width: 350px
    margin: 3em auto
    input
      display: block
      width: 100%
      font-size: 1em
      padding: 0.2em
      margin: 0.3em 0
      box-sizing: border-box
      border: solid 1px silver
    .button
      display: block
      margin-top: 1.5em
      font-size: 0.8em
      border: none
    .error
      background: #9C0000
      color: white
      padding: 0.35em
      display: block
      margin-bottom: 1em
      text-align: center
      font-size: 0.55em
