.solutions
  .title
    &::before
      background: #EDEDED
  .list

    background: white
    padding-top: 2em

    .more
      text-align: right
      a
        font-size: 0.5em

    .claim
      font-size: 0.8437em
      font-weight: bold
      margin-top: 2em


    ul
      list-style: none
      margin: 2em 0 0
      padding: 0
      li.solution
        cf()
        position: relative
        .title
          color: $yellow
          font-size: 0.8475em
          margin: 1em 0
        .claim
          font-size: 0.8em
          font-weight: normal
          margin: 0 0 0.75em 0
        .content
          font-size: 0.59375em
          a
            font-weight: bold
          p
            margin: 0
          .image
            position: relative
            z-index: 1
            +size($smallScreen/2)
              float: right
              width: 30%
              margin: 0 0 1em 1em
            +size($smallScreen)
              width: 17%
            img
              width: 100%
