//  vendors
@import 'jeet'
@import '../vendors/textAngular/dist/textAngular.css'
@import '../vendors/ngDialog/css/ngDialog.css'
@import '../vendors/ngDialog/css/ngDialog-theme-default.css'

//  config
@import 'admin/config/*'

//  components
@import 'admin/components/*'

//  views
@import 'admin/views/*/**'
