.home
  .solutions
    background: #EDEDED
    text-align: center
    padding-bottom: 2em
    cf()
    ul
      list-style: none
      padding: 0
      overflow: hidden
      li
        margin-bottom: 2em
        +size($smallScreen)
          col(1/2, cycle: 2, gutter: 10)
        a
          display: block
          text-align: center
          box-sizing: border-box
          padding: 0.6em
          &:hover
            color: $orange
            background: $orange
            color: white
          .name
            font-weight: bold
          .description
            font-size: 0.8em
            margin: 0.5em 0
    .container
      & > a
        clear: both
        display: inline-block
        margin-top: 1em
        font-size: 0.75em
