extends ../layouts/app.jade

block content
  .home
    .slider
      .slide.active
        img(src="http://lorempixel.com/1200/510/city/")
      
      ul.nav
        li.active 1
        li 2
        li 3
