.admin-header
  background: $blue
  color: white
  font-size: 1em
  overflow: hidden
  height: 28px
  line-height: 1.5
  .content
    position: fixed
    top: 0
    left: 0
    right: 0
    background: $blue
    z-index: 100
  .left, .right
    margin: 0.3em 1em
  .left
    float: left
    .info
      display: inline-block
      margin: 0 1em
  .right
    float: right
    font-weight: bold
    a
      color: white
      &:hover
        opacity: 0.7
