.thumbs
  .img
    position: relative
    .icon-cancel
      color: red
      position: absolute
      right: 0
      top: 0
      color: $red
      cursor: pointer
      font-size: 20px
      &:hover
        color: lighten($red, 20%)
