.contact
  ul
    list-style: none
    margin: 4em auto 5em
    padding: 0
    max-width: 750px
    li
      text-align: center
      line-height: 1
      margin: 3em 0
      +size($smallScreen)
        margin: 0
      a
        color: $gray
        &:hover
          color: lighten($gray, 30%)
    +size($smallScreen)
      &::after
        content: ''
        display: block
        clear: both
      li
        float: left
        width: 31%
        line-height: 1.4
        &:nth-child(n+2)
          margin-left: 3%

  .email
    margin: 4em auto
    max-width: 250px
    background: url(/envelope.png) no-repeat center top
    background-size: 24px 16px
    padding-top: 30px
    text-align: center
    display: block
    color: $grayLight
    &:hover
      color: darken($grayLight, 10%)

.map
  background: #EDEDED
  height: 400px
  position: relative
  #map
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
