.home
  h2
    background: #CDCDCD
    margin: 0.25em 0
    padding: 1em
    font-size: (28/$em)
    font-weight: normal
    text-transform: uppercase
    line-height: 1.8
    color: white
    span, em
      display: block
    em
      font-size: 1.3rem
