.studio
  ul.people
    list-style: none
    margin: 0
    padding: 0
    li
      img
        max-width: 100%
        display: block
      .name
        color: $grayLight
        font-size: (11/$em)
        text-align: center
    +size($smallScreen)
      &::after
        content: ''
        display: block
        clear: both
      li
        //float: left
        width: 48%
        // &:first-child
        //   margin-right: 4%
        margin: 0 auto
  .description
    max-width: 450px
    margin: 5em auto
    text-align: center
