footer(role="navigation")
  .container
    ul.socials
      li
        a.twitter(href="https://twitter.com/MonsunStudio", target="_blank") MonsunStudio on Twitter
      li
        a.pinterest(href="https://www.pinterest.com/monsunstudio/", target="_blank") MonsunStudio on Pinterest
      li
        a.facebook(href="https://www.facebook.com/monsunstudio", target="_blank") MonsunStudio on Facebook
    .contact
      span(data-text=isAdmin ? "#{prefix}/footer/contact" : null) !{getText(prefix+"/footer/contact")}
      span
        .split &nbsp;|&nbsp;
        a(href="mailto:biuro@monsunstudio.com") biuro@monsunstudio.com
        | &nbsp;|&nbsp;+48 516 140 054
