footer(role="navigation")
  .container
    ul.socials
      li
        a.twitter(href="https://twitter.com/MonsunStudio", target="_blank") MonsunStudio on Twitter
      li
        a.pinterest(href="https://www.pinterest.com/monsunstudio/", target="_blank") MonsunStudio on Pinterest
      li
        a.facebook(href="https://www.facebook.com/monsunstudio", target="_blank") MonsunStudio on Facebook
    .contact(data-text=isAdmin ? "#{prefix}/footer/contact" : null)
      | !{getText(prefix+"/footer/contact")}
