block menu
  - activeMenu = 'home'

.menu
  nav(role="navigation")
    ul
      each menuItem in menu
        li(class=activeMenu==menuItem.link ? "active" : "")
          a(href=prefix + '/' + menuItem.link)
            = menuItem.name
